<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="different.com.mk.UseSsl" value="True" />
		<add key="different.com.mk.DefaultMailFromAddress" value="test.different.basic@gmail.com" />
		<add key="different.com.mk.DefaultSmtp" value="smtp.gmail.com" />
		<add key="different.com.mk.DefaultSmtpPort" value="587" />
		<add key= "different.com.mk.SmtpInfoUserName" value="test.different.basic" />
		<add key="different.com.mk.SmtpInfoPassword" value="Qwerty123456@" />
	</appSettings>
</configuration>